.vantageWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

.vantageContent p {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 300;
  max-width: 45ch;
}

.btnVantage {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .vantageWrapper {
    padding: 1rem;
    grid-template-columns: 1fr;
  }
  .btnVantage {
    display: flex;
    justify-content: center;
  }
}
